.owl-nav {
    position: absolute;
    top: -98px;
    right: -3px;
    display: none;
}
.bags-carousel-content .owl-nav {
    right: -101%;
}
#main .owl-prev {
	color: transparent !important;
	font-size: 0;
	background: url(../image/prev.png) no-repeat;
	float: left;
	width: 15px;
	height: 27px;
	position: relative;
}
#main .owl-next {
	color: transparent !important;
	font-size: 0;
	background: url(../image/next.png) no-repeat;
	float: right;
	width: 15px;
	height: 27px;
	padding: 4px 7px;
}
#main .owl-prev:after {
	content: "";
	position: absolute;
	background: #cccccc;
	width: 1px;
	height: 40px;
	right: -6px;
	top: -6px;
}
@media (min-width: 769px) { 
	.owl-nav {
		display: initial;
	}
}