@font-face {
	font-family: "ral-regular";
	font-style: normal;
	font-weight: 400;
	src: local('ral-regular'), url('../font/Raleway-Regular.woff') format('woff');
}
@font-face {
	font-family: "ral-bold";
	font-style: normal;
	font-weight: 400;	
	src: local('ral-bold'), url('../font/Raleway-Bold.woff') format('woff');	
}

body {
	font-family:ral-regular;
	position: relative;
}
img {
	max-width: 100%;
}
ul, ol {
    list-style: none;
    margin: 0;
}
h2 {
	text-transform: uppercase;
	font-family: 'ral-bold';
	font-size: 40px;
}
a:hover {
	text-decoration: none;
}
.nopad {
	padding-left: 0px;
	padding-right: 0px;
}
.nopad-right {
	padding-right: 0px;
}
.nopad-left {
	padding-left: 0px;
}
#header-site {
	position: relative;
}
.header {
	position: absolute;
	left: 0;
	right: 0;
    z-index: 1;
    font-family: "ral-bold";
}
.nopad {
	padding-left: 0;
	padding-right: 0;
}
.nomarg {
	margin-left: 0;
	margin-right: 0;
}
* {
	margin: 0;
	padding: 0;
}

.nav-menu div {
    display: inline-block;
}
.banner-home {
	position: relative;
}
.banner-image img {
	max-width: 100%;
	width: 100%;
}
.top-header {
    background: rgba(0,0,0,0.2);
    font-size: 12px;
}
.phone-top {
	line-height: 34px;
    color: #fff;
}
.compare-top, .wishlist-top, .menu-account {
	color: white;
	float: right;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-bottom: 0px;
}
.menu-account li {
	list-style: none;
}
.compare-top a, .wishlist-top a, .menu-account li a {
	color: white;
}
.compare-top a:hover, .wishlist-top a:hover, .menu-account li a:hover {
	text-decoration: none;
}
.menu-account li a {
	padding-right: 10px;
}
.compare-top a, .wishlist-top a {
	padding-right: 10px;
	margin-right: 10px;
    border-right: 1px solid #fff;
}

/* ==========mid header========= */
.mid-header {
	position: relative;
	background: #212121;
    padding: 16px 0;
    font-family: ral-regular;
}
.form-search form {
    border: 1px solid #363636;
    position: relative;
}
.form-search .search-top {
    line-height: 40px;
    background-color: transparent;
    border: 0;
    padding-left: 10px;
    color: #ffffff;
    font-family: ral-regular;
}
.form-search .submit-top {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}
.submit-top .fa-search {
	font-size: 20px;
	color: #fff;
	background: #484848;
	width: 42px;
	height: 41px;
	line-height: 41px;
}
.cart-top {
	border: 1px solid #363636;
}
.cart-top a {
    color: white;
}
.cart-top a:hover {
	text-decoration: none;
}
.header-usd, .header-lang {
    position: relative;
    padding: 10px 14px;
    text-transform: uppercase;
    float: left;
}
/* =========mid header========= */


.bottom-header {
	color: white;
	background: rgba(0,0,0,0.2);
	position: relative;
}
.nav-mobile {
	display: block;
}    
.nav-desktop {
	display: none;
	position: relative;
}
.nav-desk-content {
	text-align: center;
}
.nav-desk-content .content {
    display: inline-block; 
    text-transform: uppercase;
    vertical-align: middle; 
}
.content .menu-parent a {
	color: white;
	padding: 0px 18px;
	line-height: 60px;
}
.content .menu-parent a:hover {
	color: #db3838;
}
.content .menu-parent a:hover {
	text-decoration: none;
}
.fa-chevron-down {
    padding-left: 6px;
}
.dropdown-account {
	display: none;
	position: absolute;
	z-index: 100;
	width: 200px;
	text-align: left;
	background-color: white;
}
.dropdown-account li a {
	color: black;
	padding: 11px 27px;
	line-height: 34px;
}
.dropdown-account li:hover {
	color: white;
	background-color: #212121;
}
.dropdown-account li:hover a {
	color: white;
}
.menu-account li:hover .dropdown-account {
	display: block;
}
.dropdown-usd, .dropdown-lang {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 100px;
	top: 40px;
}
.header-usd .fa-caret-down, .header-lang .fa-caret-down {
    color: #575757;
}
.content-lang {
	text-transform: none;
}
.header-usd ul li:hover .dropdown-usd, .header-lang ul li:hover .dropdown-lang {
	display: block;
}
.cart-content {
	font-family: ral-bold;
	background-color: #db3838; 
	padding: 10px 98px 13px 10px;
	line-height: 37px;
}
.menu-child1, .menu-child2, .menu-child3 {
	display: none;
	position: absolute;
}
.menu-dropdown1:hover .menu-child1, .menu-dropdown2:hover .menu-child2, .menu-dropdown3:hover .menu-child3 {
	display: block;
}
.container.banner-top-content div:nth-child(1) {
    padding-left: 0px;
}
.container.banner-top-content div:nth-child(3) {
    padding-right: 0px;
}
.banner-image {
	position: relative;
}
.caption-content {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
}
.image-caption {
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
}
.banner-freeship {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}
.caption-shopmen a {
	padding: 11px 29px;
	color: white;
	border: 2px solid white;
}
.banner-top-lock {
    position: relative;
}
.button-teemo {
    position: absolute;
    top: 41%;
	left: 35%;
	width: 120px;
}
.button-teemo p {
    background: white;
    padding: 5px 0px 5px 0px;
    text-align: center;
    text-transform: uppercase;
    color: #4c4c4c;
}
.clothing-category {
	position: relative;
}
.clothing-image-caption {
	position: absolute;
	top: 21%;
	color: white;
	right: 0;
	left: 0;
	text-align: center;
}
.clothing-carousel-block {
	position: relative;
}
.block-content {
	position: relative;
}
.label-new {
	position: absolute;
	width: 56px;
	height: 30px;
	background: #46c89f;
	line-height: 30px;
	text-align: center;
	top: 0;
	left: 0;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	font-family: 'ral-bold';
	z-index: 1;
}
.label-sale {
	position: absolute;
	width: 56px;
	height: 30px;
	background: #0074bd;
	line-height: 30px;
	text-align: center;
	top: 34px;
	left: 0;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	font-family: 'ral-bold';
	z-index: 1;
}
.image-product {
	position: relative;
}
.button-product {
	position: absolute;
	top: 35%;
	left: 0;
	right: 0;
	text-align: center;
}
.percent-price {
	position: absolute;
	bottom: 23%;
	background-color: white;
	line-height: 35px;
	padding: 0px 10px 0px 10px;
	right: 8%;
}
.percent-price p {
	margin: 0;
}
.cat-title {
    margin: 36px 0px;
    text-align: left;
    position: relative;
}
.cat-title h3 {
	font-size: 24px;
	color: #222222;
	font-family: 'ral-bold';
	letter-spacing: 2px;
	padding-bottom: 10px;
}
.cat-title .first h3:after {
	content: "";
	position: absolute;
	border-top: 2px solid transparent;
	width: 80px;
	left: 0;
	bottom: 0px;
}
.cat-title .second h3:after {
	content: "";
	position: absolute;
	border-top: 2px solid transparent;
	width: 80px;
	left: 241px;
	bottom: 0px;
}
.cat-title .active h3:after {
	border-top: 2px solid #444;
}
.clothing-home .cat-title h3::after, .bag-shoes .cat-title h3::after, .popular-blogs .cat-title h3::after {
	border-top: 2px solid #444;
}
.cat-title div {
    display: inline-block;
}
.cat-title .tab {
    margin-right: 60px;
}
.cat-title .second h3 {
    color: #989898;
}
.button-control {
	position: absolute;
	top: -78px;
	right: 0;
	font-size: 40px;
}
.button-control div {
    display: inline-block;
}
.button-pre {
	position: relative;
}
.button-pre:after {
	content: "";
	position: absolute;
	width: 1px;
	height: 40px;
	background: #cccccc;
	right: -6px;
	top: 9px;
}
.bestseller-product {
	position: relative;
}
.bestseller-product-wrap div {
    display: inline-block;
}
.bestseller-product-block {
    position: relative;
    width: 20%;
	float: left;
}
.appear {
	display: block;
}
.disappear {
	display: none;
}
.carousel-product {
	display: block !important;
}
.image-blogs {
	position: relative;
}
.blogs-info {
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	font-size: 13px;
	padding: 20px;
}
.brand-slide {
	padding: 30px 0;
	margin-top: 55px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
.footer-top {
	padding-top: 50px;
	padding-bottom: 50px;
	color: #666666;
}
.logo-footer {
	margin-bottom: 25px;
}
.footer-des {
	font-size: 14px;
	color: #666666;
	line-height: 24px;
}
.continue-read a {
	font-weight: 700;
	font-size: 13px;
	color: #333333;
	margin-top: 20px;
	text-decoration: underline;
}
.continue-read {
    margin-top: 20px;
}
.footer-top-title {
	margin-bottom: 20px;
}
.footer-top-title h3 {
	font-size: 14px;
	text-transform: uppercase;
	color: #222;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 15px;
}
.footer-social {
    padding: 22px 0px;
    background: #282828;
}
.social-content ul li {
    float: right;
}
.social-content ul li a {
	width: 50px;
	height: 50px;
	background: #212121;
	border: 5px solid #333;
	border-radius: 100%;
	font-size: 20px;
	color: #fff;
	margin-left: 8px;
	text-align: center;
	line-height: 41px;
}
.social-content ul li a:hover {
	text-decoration: none;
}
.footer-form {
	position: relative;
}
.footer-input {
	width: 73%;
}
.footer-input input {
	width: 100%;
	border: 1px solid #3e3e3e;
	background: transparent;
	height: 42px;
	color: white;
	padding-left: 10px;
}
.footer-submit {
	position: absolute;
	top: 0;
	right: 0;
}
.footer-submit button {
	background: transparent;
	cursor: pointer;
	border: 0;
}
.footer-submit button p {
	margin: 0;
	font-size: 14px;
	color: #fff;
	padding: 6.2px 29px;
	border: 5px solid #3e3e3e;
	font-weight: 700;
	font-family: 'ral-bold';
	text-transform: uppercase;
}
.footer-copyright {
	background: #212121;
	text-align: center;
	padding: 30px 0;
	color: #767676;
}
.footer-copyright a {
	color: white;
}
.footer-copyright p {
	margin-bottom: 0
}
.footer-copyright a:hover {
	text-decoration: none;
}
.footer-tool {
	position: relative;
	background: #212121;
	padding: 15px 0;
	border-top: 1px solid #383838;
	border-bottom: 3px solid #db3838;
}
.footer-tool-left ul li {
	float: left;
}
.footer-tool-right ul li {
	float: right;
}
.footer-tool-left ul li a {
	border-right: 1px solid #797979;
	color: #797979;
	padding-right: 8px;
	margin-right: 8px;
	font-size: 12px;
	text-transform: capitalize;
}
.footer-tool-right ul li a {
	padding-left: 8px;
}

@media only screen and (min-width: 769px){
    .nav-mobile {
		display: none;
	}     
	.nav-desktop {
		display: block;
	}	
}


@media (min-width: 320px) { 
    /* iPhone 5 iPhone 5, iPhone 5S, iPhone 5C, iPhone SE landscape */

}
@media (min-width: 375px) { 
    /* iPhone 6 iPhone 6, iPhone 6S, iPhone 7 landscape */
}
@media (min-width: 414px) { 
    /* iPhone 6 iPhone 6S Plus, iPhone 6 Plus, iPhone 7 Plus, Huawei P9, Sony Xperia Z5, 
    Samsung Galaxy A5, Samsung Galaxy A7, Samsung Galaxy S5, Samsung Galaxy A9, 
    HTC One M9, Sony Xperia M5 landscape */
}
@media (min-width: 767px) { 
    /*ipad 768px */
}
@media (min-width: 1023px) { 
   /*  ipad pro 1024px  */
}
@media (min-width: 1365px) { 
   /*  ipad pro náº±m ngang 1366px  */
}


